:root {
	--bug-bg: #ffff99;
	--bug-text: #b3b36b;
	--water-bg: #43ccff;
	--water-text: #2f9eb3;
	--grass-bg: #00ca91;
	--grass-text: #008d77;
	--fire-bg: #e95c4d;
	--fire-text: #a33e36;
	--normal-bg: #a5a5a5;
	--normal-text: #747474;
}

progress {
	position: relative;
}

progress:before {
	content: attr(data-label);
	font-size: 0.8em;
	vertical-align: 0;
	color: white;
	position: absolute;
	left: 5px;
	top: -2px;
}

progress[value] {
	appearance: none;
	border: none;
	background-color: transparent;
	border-radius: 8px;
	overflow: hidden;
}

progress[value]::-webkit-progress-bar {
	border-radius: 8px;
	border: 0;
}

.bug {
	background-color: var(--bug-bg);
	color: var(--bug-text);
}
.bug:has(Svg) {
	border: 5px solid var(--bug-text);
}
.bug progress[value]::-webkit-progress-value {
	background-color: var(--bug-text);
	border: 0;
}
.bug progress[value]::-webkit-progress-bar {
	background-color: var(--bug-bg);
}

.water {
	background-color: var(--water-bg);
	color: var(--water-text);
}
.water:has(Svg) {
	border: 5px solid var(--water-text);
}
.water progress[value]::-webkit-progress-value {
	background-color: var(--water-text);
	border: 0;
}
.water progress[value]::-webkit-progress-bar {
	background-color: var(--water-bg);
}

.grass {
	background-color: var(--grass-bg);
	color: var(--grass-text);
}
.grass:has(Svg) {
	border: 5px solid var(--grass-text);
}
.grass progress[value]::-webkit-progress-value {
	background-color: var(--grass-text);
	border: 0;
}
.grass progress[value]::-webkit-progress-bar {
	background-color: var(--grass-bg);
}

.fire {
	background-color: var(--fire-bg);
	color: var(--fire-text);
}
.fire:has(Svg) {
	border: 5px solid var(--fire-text);
}
.fire progress[value]::-webkit-progress-value {
	background-color: var(--fire-text);
	border: 0;
}
.fire progress[value]::-webkit-progress-bar {
	background-color: var(--fire-bg);
}

.normal {
	background-color: var(--normal-bg);
	color: var(--text-bg);
}
.normal:has(Svg) {
	border: 5px solid var(--text-bg);
}
.normal progress[value]::-webkit-progress-value {
	background-color: var(--text-bg);
	border: 0;
}
.normal progress[value]::-webkit-progress-bar {
	background-color: var(--normal-bg);
}
